* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  scroll-behavior: smooth;
}

.container-one {
  width: 100%;
}
.container-one .container-information-flex {
  position: relative;
  height: 100%;
  min-height: 600px;
  background-image: url(https://c4.wallpaperflare.com/wallpaper/516/762/505/sky-la-defense-sunset-afternoon-wallpaper-preview.jpg);
  background-size: cover;
  background-position: center;
}
.container-one .overlay {
  background-image: radial-gradient(140% 110% at 48% 42%, rgba(33, 37, 41, 0.5), rgba(33, 37, 41, 0.6), rgba(33, 37, 41, 0.7), rgba(33, 37, 41, 0.8), rgba(33, 37, 41, 0.93), #212529 55%, #212529 200%);
}
.container-one .button, .container-one .button--danger {
  display: inline-block;
  padding-top: 50%;
  font-size: 1.2rem;
  padding: 5px 2em;
  text-decoration: none;
  border-radius: 1em;
  color: black;
}
.container-one .button--danger {
  background-color: white;
}
.container-one .container-information-flex {
  display: flex;
  text-align: center;
  flex-direction: column;
}
.container-one .container-header {
  font-size: 25px;
  background-color: rgb(22, 21, 21);
  box-shadow: 0px 5px 2px rgba(94, 89, 89, 0.403);
  width: auto;
  height: 100px;
  position: fixed;
  left: 0;
  right: 0;
}
.container-one .container-information {
  font-size: 20px;
  margin-top: 12em;
  margin-left: 2em;
  margin-right: 2em;
  padding: 30px;
  background-color: rgba(44, 41, 41, 0.654);
  border-radius: 15px;
}
.container-one .container-information p {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  padding-bottom: 20px;
  color: rgb(255, 255, 255);
}
.container-one h1 {
  color: white;
  padding-top: 25px;
  font-family: Times, "Times New Roman", Georgia, serif;
}

.container-two {
  background-color: rgb(22, 21, 21);
}
.container-two .container-image-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 0.5fr);
}
.container-two .container-img-day {
  grid-column: 1;
  padding: 2%;
  width: 100%;
  height: 100%;
  text-align: center;
}
.container-two .container-img-day img.day {
  width: 80%;
  margin-top: 8%;
  border-radius: 20px;
}
.container-two .container-img-day p {
  color: white;
  font-size: 25px;
  padding-bottom: 30px;
  background-color: rgb(22, 21, 21);
  padding-top: 30px;
}
.container-two .container-img-night {
  grid-column: 1;
  padding: 2%;
  width: 100%;
  height: 100%;
  text-align: center;
}
.container-two .container-img-night img.night {
  width: 80%;
  margin-bottom: 5%;
  border-radius: 20px;
}
.container-two .container-img-night p {
  color: white;
  font-size: 25px;
  padding-bottom: 30px;
  background-color: rgb(22, 21, 21);
}
.container-two .container-img-draw {
  grid-column: 2;
  grid-row: 1/3;
  padding: 2%;
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 33%;
}
.container-two .container-img-draw img.draw {
  width: 70%;
  border-radius: 20px;
}
.container-two .container-img-draw p {
  color: white;
  font-size: 25px;
  padding-bottom: 30px;
  background-color: rgb(22, 21, 21);
}
.container-two .container-img-views {
  grid-column: 1/3;
  padding: 2%;
  width: 100%;
  text-align: center;
}
.container-two .container-img-views img.views {
  width: 50%;
  border-radius: 20px;
}
.container-two .container-img-views p {
  color: white;
  font-size: 25px;
  padding-bottom: 30px;
  background-color: rgb(22, 21, 21);
}/*# sourceMappingURL=style.css.map */